:root {
  --font-profile: "Libre Bodoni", serif;
  --font-text-content: "Montserrat", sans-serif;
  --principal-color: #041c32;
  --third-color: #064663;
  --secondary-color: #ecb365;
  --secondary-color2: #04293a;
  --letters: #efe2cd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: var(--font-text-content);
}
/* parte superior de la pagina */
header {
  width: 100%;
  height: 100vh;
  background: url(../../images/Yo/IMG_20210109_191816.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
}

header div {
  justify-self: center;
  align-self: center;
}

header div .profile {
  text-align: center;
  font-size: 7rem;
  font-weight: bold;
  font-family: var(--font-profile);
  color: var(--secondary-color);
}

header div .profession {
  font-size: 4rem;
  text-align: center;
  font-family: var(--font-profile);
  font-weight: 400;
  color: var(--principal-color);
}
.profession {
  -webkit-animation: focus-in-expand 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1
    both;
  animation: focus-in-expand 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/*Contenedor de la descripcion*/
.about-me-container {
  width: 100%;
  background-color: var(--principal-color);
  height: auto;
  display: grid;
  justify-content: center;
  align-content: center;
}

.about-me {
  margin: 50px 0px;
  align-content: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Imagen */
.about-me-image {
  width: 350px;
  justify-self: center;
  margin: 50px;
}
.about-me-image img {
  width: 100%;
  object-fit: cover;
}

/* Texto */
.about-me-text {
  width: 90%;
  display: grid;
  grid-template-rows: 1fr 2.5fr;
}
.about-me-text h1 {
  margin-top: 50px;
  color: var(--letters);
  font-family: var(--font-profile);
  font-size: 5rem;
  font-weight: bold;
  margin-left: 20px;
  align-self: center;
}
.about-me-text .about-me-text-info .info {
  color: var(--letters);
  font-family: var(--font-text-content);
  font-size: 3rem;
  width: 90%;
  line-height: 30px;
  padding: 30px;
  margin-left: 20px;
}

.about-me-text .about-me-text-info .info span {
  font-size: 2rem;
  color: var(--secondary-color);
  font-family: var(--font-text-content);
  font-weight: bold;
}

/* Boton de contacto*/
.contact-button {
  display: grid;
  margin-top: 42px;
}
#contact {
  display: none;
}
.contact-button .contact-bt {
  position: absolute;
  justify-self: center;
  font-family: var(--font-text-content);
  font-weight: bold;
  font-size: 2.5rem;
  border-radius: 15px;
  background-color: var(--secondary-color);
  color: var(--letters);
  height: 55px;
  width: 230px;
  text-align: center;
  line-height: 55px;
  cursor: pointer;
  transition: all 400ms ease;
}
.contact-button .contact-bt:hover {
  width: 250px;
  height: 60px;
  line-height: 60px;
  font-size: 2.8rem;
  background-color: var(--letters);
  color: var(--secondary-color);
}

#contact:checked ~ .contact-bt {
  opacity: 0;
  display: hidden;
}

.contact-button .contact-bt2 {
  visibility: hidden;
  position: absolute;
  margin-top: 15px;
  justify-self: center;
  height: 30px;
  width: 60px;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  border-radius: 15px;
  line-height: 30px;
  background-color: var(--letters);
  color: var(--secondary-color);
  cursor: pointer;
  transition: all 400ms ease;
  opacity: 0;
}

.contact-button .contact-bt2:hover {
  color: var(--principal-color);
}

#contact:checked ~ .contact-bt2 {
  opacity: 1;
  visibility: visible;
}
/*Responsive de about me */

/* Botones de redes */
.contact-button .icons {
  justify-self: center;
  margin-top: 80px;
}
.contact-button .icons a {
  display: inline-block;
  height: 70px;
  width: 70px;
  margin-top: 26px;
  margin-right: -20px;
  text-align: center;
  line-height: 70px;
  font-size: 40px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  text-decoration: none;
  color: var(--letters);
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease;
}

.contact-button .icons a:hover {
  background-color: var(--letters);
  color: var(--principal-color);
}
.contact-button .icons .icon-instagram:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 1px 10px rgba(218, 218, 218, 0.6);
}
.contact-button .icons .icon-github-circled-alt2:hover {
  background-color: #2ea44f;
  box-shadow: 0px 1px 10px rgba(218, 218, 218, 0.6);
}
.contact-button .icons .icon-linkedin:hover {
  background-color: #0077b5;
  box-shadow: 0px 1px 10px rgba(218, 218, 218, 0.6);
}
.contact-button .icons .icon-doc-text {
  box-shadow: 0px 1px 10px rgba(218, 218, 218, 0.6);
}

#contact:checked ~ .icons a {
  margin-right: 7.5px;
  margin-left: 7.5px;
  opacity: 1;
  visibility: visible;
}

/*Espacio de los proyectos */
.proyects-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: 150px 1fr;
  align-content: center;
  justify-content: center;
  background-color: var(--third-color);
}

.title {
  font-size: 5rem;
  font-weight: bold;
  font-family: var(--font-profile);
  text-align: center;
  margin-top: 60px;
  color: var(--letters);
}

.proyect-container_img {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  justify-self: center;
}

.card-p {
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 30px 30px 0px;
  margin-left: 20px;
}

.card-p figure {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.card-p figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 500ms ease;
}

.card-p figure .img-text {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 400ms ease;
  color: var(--letters);
  opacity: 0;
  visibility: hidden;
  top: 0;
  transition: all 400ms ease;
}

.card-p figure .img-text p:nth-child(1) {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 20px;
  margin-top: 250px;
  margin-left: -100px;
  margin-bottom: 300px;
  transition: all 400ms ease;
}
.card-p figure .img-text p:nth-child(2) {
  font-size: 1.5rem;
  text-align: center;
  padding: 0px 20px;
  transition: all 400ms ease;
}

.card-p figure:hover > .img-text {
  opacity: 1;
  visibility: visible;
}

.card-p figure:hover .img-text p:nth-child(1) {
  margin-bottom: 15px;
  margin-left: 0;
}

/* habilidades */
.skills {
  background-color: var(--secondary-color2);
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.skills_container {
  height: auto;
  width: 1100px;
  margin: 50px 0px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.skill {
  justify-self: center;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 76px;
  justify-content: center;
  align-items: center;
  color: var(--letters);
  font-size: 2.5rem;
  text-align: center;
  border-bottom: 2px solid var(--secondary-color);
}
.skills-titles {
  font-weight: bold;
  font-size: 4rem;
}
.cont-xl {
  width: 50%;
}
