:root {
  --font-profile: "Libre Bodoni", serif;
  --font-text-content: "Montserrat", sans-serif;
  --principal-color: hsl(209, 85%, 11%);
  --third-color: hsl(199, 89%, 21%);
  --secondary-color: hsl(35, 78%, 66%);
  --secondary-color2: hsl(199, 87%, 12%);
  --letters: hsl(37, 52%, 87%);
  --options-responsive: hsl(210, 62%, 22%);
}
@media (max-width: 992px) {
  .about-me {
    width: 100%;
    justify-content: center;
    justify-self: center;
  }
  .about-me-image {
    margin-bottom: 10px;
  }

  .about-me-text {
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .about-me-text h1 {
    margin-top: 10px;
  }
  .contact-ft .contact-me {
    grid-template-rows: 1fr 0.5fr 0.5fr;
    grid-template-columns: 0;
    justify-content: center;
    align-items: center;
    margin: 60px 0px;
    width: 100%;
  }
  .contact-me .contact_logo {
    grid-row: 1/2;
  }
  .contact-me .contact_info {
    margin-top: 16px;
  }
}
@media (max-width: 768px) {
  .skills_container {
    width: 100%;
  }
  .skills {
    padding-top: 60px;
  }
  .skill {
    flex-direction: column;
    height: auto;
    padding: 30px;
    width: 400px;
    align-self: center;
  }
  .skill p {
    margin-bottom: 20px;
  }
  .levels {
    visibility: hidden;
    position: absolute;
  }
  .card-p {
    margin-left: 20px;
  }
  .about-me-image {
    width: 270px;
  }
}
@media (max-width: 408px) {
  .skill {
    width: 290px;
  }
  .skills_container {
    width: 290px;
  }
  .about-me-image {
    width: 200px;
  }
}

@media (max-width: 1200px) {
  .skills_container {
    max-width: 700px;
  }
}
@media (max-width: 660px) {
  nav ul {
    background-color: var(--options-responsive);
    position: absolute;
    top: 50px;
    width: 40%;
    right: 0;
    row-gap: 1.8rem;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    margin-right: -100%;
    z-index: 50;
  }

  .show__menu {
    margin-right: 0;
  }

  .icon__burger-show {
    display: block;
  }
}
